.root {
  display: flex;
  flex-shrink: 0;
  position: relative;
  height: 100%;
}

.content {
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.handle {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  cursor: col-resize;
  background: transparent;
  transition: background 0.15s;
  z-index: 10;
}

.handle:hover {
  background: var(--primary-dim);
}

.handle.dragging {
  background: var(--primary);
}
